<!-- Intro
================================================== -->

<section class="section-intro bg-faded text-xs-center">
  <div class="container">
    <h3 class="wp wp-1">ABOUT ME</h3>
    <p class="lead wp wp-2">Craft memorable, emotive experiences with our range of beautiful UI elements.</p>
    <div class="col-md-4">
      <img src="img/mock.png" alt="iPad mock" class="img-fluid wp wp-3">

    </div>
    <div class="col-md-8">
      <p class="lead my-4">
        Hello, I'm <strong>Maycol</strong>, a professional systems engineer based in Colombia. Lover to the development of web pages. Find me on
        <a href="#" class="google-plus-link">Google Plus</a>,
        <a href="#" class="facebook-link">Facebook</a> ,
        <a href="#" class="twitter-link">Twitter</a> ,
        <a href="#" class="dribbble-link">Dribbble</a> ,
        <a href="#" class="pinterest-link">Pinterest</a> ,
        <a href="#" class="behance-link">Behance</a> and
        <a href="#" class="linkedin-link">LinkedIn</a>
      </p>
      <ul class="personal-info list-inline clearfix mb-5">
        <li><strong>Full Name :</strong> Maycol Sanchez Salazar</li>
        <li><strong>Birthday :</strong> 30 October 1990</li>
        <li><strong>Address :</strong> Manizales, Caldas, Colombia</li>
        <li><strong>Phone :</strong> +(57) 3022726311</li>
        <li><strong>Email :</strong> <a href="mailto:mayc1030@gmail.com">mayc1030@gmail.com</a></li>
        <li><strong>Job :</strong> Developer</li>
        <li><strong>Profession :</strong> Computer and systems engineering</li>
      </ul>
      <a class="btn btn-primary-outline" href="#" role="button"><span class="icon-spinner5"></span> Download My Resume</a>

    </div>
  </div>
</section>