<!-- Education
   ================================================== -->

<section class="section-intro bg-faded text-xs-center">
  <div class="container">
    <h3 class="wp wp-1">EDUCATION</h3>


    <ul id="education" class="clearfix">
      <li>
        <div class="year pull-left">2001 - 2007</div>
        <div class="description pull-right">
          <h3>High school</h3>
          <p>Institute Villamaria</p>
        </div>
      </li>
      <li>
        <div class="year pull-left">2007 - 2010</div>
        <div class="description pull-right">
          <h3>Andean tropical biology (not finished)</h3>
          <p>University of Caldas</p>
        </div>
      </li>
      <li>
        <div class="year pull-left">2010 - 2016</div>
        <div class="description pull-right">
          <h3>Computer and systems engineering (graduated)</h3>
          <p>University of Caldas</p>
        </div>
      </li>

    </ul>
  </div>

</section>