<!-- Work experiences
   ================================================== -->

<section class="section-intro bg-faded text-xs-center">
  <div class="container">
    <h3 class="wp wp-1 text-xs-center">WORK EXPERIENCES</h3>


    <ul id="experiences" class="clearfix">
      <li class="itemline item">
        <div class="col-md-3">
          <div class="title">Web Community Manager</div>
          <div class="time experiencespull-left">2015 - 2016</div>
        </div>
        <div class="col-md-9">
          <div class="description pull-right">
            <h3 class="place">Eureka Inmobiliaria</h3>
            <div class="location"><span class="icon-facebook"></span>Manizales-Caldas-Colombia</div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
              pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Donec pede justo ante</li>
              <li>Maecenas tempus tellus eget </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="col-md-3">
          <div class="title">Developer</div>
          <div class="time experiencespull-left">2016 - Present</div>
        </div>
        <div class="col-md-9">
          <div class="description pull-right">
            <h3 class="place">SeedEM</h3>
            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Manizales-Caldas-Colombia</div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
              pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>

          </div>
        </div>
      </li>
    </ul>
  </div>

</section>