
<!-- frondrupalnotes
================================================== -->
{% include ultimatepost.html %}

<!--<section class="testimonial-slider">-->
<!--    <div class="container">-->
<!--        <div class="flexslider">-->
<!--            <ul class="slides">-->
<!--                <li>-->
<!--                    <div class="avatar"><img src="img/avatar.jpg" alt="Sedna Testimonial Avatar"></div>-->
<!--                    <h2>"Lorem ipsum dolor sit amet, nullam lucia nisi."</h2>-->
<!--                    <p class="author">Peter Finlan, Product Designer.</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <div class="avatar"><img src="img/mani.jpg" alt="Sedna Testimonial Avatar"></div>-->
<!--                    <h2>"Nunc vel maximus purus. Nullam ac urna ornare."</h2>-->
<!--                    <p class="author">Manoela Ilic, Founder @ Codrops.</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <div class="avatar"><img src="img/130.jpg" alt="Sedna Testimonial Avatar"></div>-->
<!--                    <h2>"Nullam ac urna ornare, ultrices nisl ut, lacinia nisi."</h2>-->
<!--                    <p class="author">Blaz Robar, Pixel Guru</p>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section class="section-testimonials text-xs-center bg-inverse">
    <div class="container">
        <h3 class="title-seccion">Drupal Notes</h3>
        <div class="componente-icon-list">
            <div id="control_menu_list_drupalnotes">
                <a class="nav-link drupalnotes btn-drupalnotes btn-drupalnotes-outline" role="button"><span class="icon-spinner5"></span>Lista de Todos los Contenidos</a>
                <i class="fab fa-drupal logo-list-drupalnotes"></i>
            </div>
            <div id="control_menu_list_categories">
            </div>
            <div id="list_content_category">
            </div>
            <div id="subcategories">
            </div>
            <div id="list_content_subcategory">
            </div>
        </div>

        <div id="carousel-list-content-drupalnotes" class="carousel slide" data-ride="carousel" data-interval="0">
                <table class="table flistcontentdrupalnotes">
                    <thead>
                    <tr>
                    </tr>
                    </thead>
                    <tbody id="table">
                    </tbody>
                </table>
                    <ol class="carousel-indicators paginationlistcontentdrupalnotes" id="paginadorlistcontentdrupalnotes"></ol>

            <div class="img-listdrupalnotes"></div>
            <span class="linkdownload-ldrupalnotes"></span>

            </div>


        <div id="carousel-drupalnotes" class="carousel slide" data-ride="carousel" data-interval="0">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item fcontentdrupalnotes active">

                </div>
            </div>


            <ol class="carousel-indicators paginationcontentdrupalnotes" id="paginadorcontentdrupalnotes">


            </ol>

            <div class="date-seccion"></div>
            <div class="author-seccion"></div>
            <span class="view-drupalnotes"></span>
            <span class="download-drupalnotes"></span>
            <span class="bullhorn-drupalnotes"></span>
            <span class="facebook-drupalnotes"><i class="fab fa-facebook-square"></i></span>
            <span class="comments-drupalnotes"><i class="fas fa-comment-dots"></i></span>
            <span class="linkdownload-drupalnotes"></span>


        </div>
    </div>
</section>
