<!-- Hero Section
================================================== -->

<header class="jumbotron bg-inverse text-xs-center center-vertically" role="banner">
  <div class="container">
    <h1 class="display-3">Maycol Sanchez Salazar.</h1>
    <h2 class="m-b-3">Web Design - Full Stack, <em>Developer</em></h2>
    <ul class="nav nav-inline social-share">
      <li class="nav-item"><a class="nav-link" href="#"><span class="icon-twitter"></span> 1024</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="icon-facebook"></span> 562</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="icon-linkedin"></span> 356</a></li>
    </ul>
  </div>
</header>
