<!-- Features
  ================================================== -->
<section class="section-features text-xs-center">
  <div class="container">
    <h3 class="wp wp-1">MY INTERESTS</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <!-- <span class="icon-pen display-1"></span>-->
            <span class="fa-stack fa-4x display-1">
              <i class="fas fa-code  text-primary"></i>
            </span>
            <h4 class="card-title">Code</h4>
            <h6 class="card-subtitle text-muted">UI Elements</h6>
            <p class="card-text">Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
              <span class="fa-stack fa-4x display-1">
              <i class="fas fa-futbol text-primary"></i>
            </span>
            <h4 class="card-title">Sports</h4>
            <h6 class="card-subtitle text-muted">Modern design</h6>
            <p class="card-text">Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card m-b-0">
          <div class="card-block">
              <span class="fa-stack fa-4x display-1">
              <i class="fab fa-nintendo-switch text-primary"></i>
            </span>
            <h4 class="card-title">Game</h4>
            <h6 class="card-subtitle text-muted">Forever and ever</h6>
            <p class="card-text">Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>