
<!-- Navigation
================================================== -->

<nav class="navbar navbar-dark bg-inverse bg-inverse-custom navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="http://dev-msscode.pantheonsite.io/">
      <!-- <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>-->
       <img src="img/msscode.png" height="38" width="60" alt="Avatar" class="img-circles pulse2">
       <span class="sr-only">Land.io</span>
     </a>
     <a class="navbar-toggler hidden-md-up pull-xs-right" data-toggle="collapse" href="#collapsingNavbar" aria-expanded="false" aria-controls="collapsingNavbar">
       &#9776;
     </a>
     <a class="navbar-toggler navbar-toggler-custom hidden-md-up pull-xs-right" data-toggle="collapse" href="#collapsingMobileUser" aria-expanded="false" aria-controls="collapsingMobileUser">
       <span class="icon-user"></span>
     </a>
     <div id="collapsingNavbar" class="collapse navbar-toggleable-custom" role="tabpanel" aria-labelledby="collapsingNavbar">
       <ul class="nav navbar-nav pull-xs-right">
         <li class="nav-item nav-item-toggable">
           <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
         </li>
         <li class="nav-item nav-item-toggable">
           <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
         </li>
         <li class="nav-item nav-item-toggable">
           <a class="nav-link nav-item-toggable" href="{{"/posts" | relative_url }}">Posts</a>
         </li>
         <li class="nav-item nav-item-toggable">
           <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
         </li>
         <li class="nav-item nav-item-toggable">
           <a class="nav-link" href="{{"/profile" | relative_url }}">Perfil</a>
         </li>
       </ul>
     </div>
   </div>
 </nav>

