<!-- Testimonials
    ================================================== -->

<section class="section-testimonials text-xs-center bg-inverse">
  <div class="container">
    <div class="flexslider">
      <ul class="slides">
        <h3 class="sr-only">Testimonials</h3>
        <div id="carousel-proyects" class="carousel slide" data-ride="carousel" data-interval="0">
          <li>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <blockquote class="blockquote">
                <img src="img/myproyect1.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">aGood design at the front-end suggests that everything is in order at the back-end, whether or not that is the case.</p>
                <footer>My Profile</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="img/myproyect2.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">It’s not about knowing all the gimmicks and photo tricks. If you haven’t got the eye, no program will give it to you.</p>
                <footer>msscode</footer>
              </blockquote>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li class="active"><img src="img/myproyect1.jpg" alt="Navigation avatar" data-target="#carousel-proyects" data-slide-to="0" class="img-fluid img-circle"></li>
            <li><img src="img/myproyect2.jpg" alt="Navigation avatar" data-target="#carousel-proyects" data-slide-to="1" class="img-fluid img-circle"></li>
          </ol>
          </li>
        </div>

        <div id="carousel-contributions" class="carousel slide" data-ride="carousel" data-interval="0">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <blockquote class="blockquote">
                <img src="img/myproyect1.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">Good design at the front-end suggests that everything is in order at the back-end, whether or not that is the case.</p>
                <footer><a href="https://github.com/mayc1030/drupalnotes/tree/master/Modules/ddlf"><img src="img/seed.png" alt="" class="" height="30" width="30">SeeD EM</a></footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="img/myproyect1.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">It’s not about knowing all the gimmicks and photo tricks. If you haven’t got the eye, no program will give it to you.</p>
                <footer><img src="img/seed.png" alt="" class="" height="30" width="30">SeeD EM</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="img/myproyect1.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">It’s not about knowing all the gimmicks and photo tricks. If you haven’t got the eye, no program will give it to you.</p>
                <footer><img src="img/seed.png" alt="" class="" height="30" width="30">SeeD EM</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="img/myproyect1.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">It’s not about knowing all the gimmicks and photo tricks. If you haven’t got the eye, no program will give it to you.</p>
                <footer><img src="img/seed.png" alt="" class="" height="30" width="30">SeeD EM</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="img/myproyect1.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">It’s not about knowing all the gimmicks and photo tricks. If you haven’t got the eye, no program will give it to you.</p>
                <footer><img src="img/seed.png" alt="" class="" height="30" width="30">SeeD EM</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="img/myproyect1.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">It’s not about knowing all the gimmicks and photo tricks. If you haven’t got the eye, no program will give it to you.</p>
                <footer><img src="img/seed.png" alt="" class="" height="30" width="30">SeeD EM</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="img/myproyect1.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">It’s not about knowing all the gimmicks and photo tricks. If you haven’t got the eye, no program will give it to you.</p>
                <footer><img src="img/seed.png" alt="" class="" height="30" width="30">SeeD EM</footer>
              </blockquote>
            </div>

          </div>
          <ol class="carousel-indicators">
            <li class="active"><img src="img/mycontributions1.jpg" alt="Navigation avatar" data-target="#carousel-contributions" data-slide-to="0" class="img-fluid img-circle"></li>
            <li><img src="img/mycontributions2.jpg" alt="Navigation avatar" data-target="#carousel-contributions" data-slide-to="1" class="img-fluid img-circle"></li>
            <li><img src="img/mycontributions3.jpg" alt="Navigation avatar" data-target="#carousel-contributions" data-slide-to="2" class="img-fluid img-circle"></li>
            <li><img src="img/mycontributions4.jpg" alt="Navigation avatar" data-target="#carousel-contributions" data-slide-to="3" class="img-fluid img-circle"></li>
            <li><img src="img/mycontributions5.jpg" alt="Navigation avatar" data-target="#carousel-contributions" data-slide-to="4" class="img-fluid img-circle"></li>
            <li><img src="img/mycontributions6.jpg" alt="Navigation avatar" data-target="#carousel-contributions" data-slide-to="5" class="img-fluid img-circle"></li>
            <li><img src="img/mycontributions7.jpg" alt="Navigation avatar" data-target="#carousel-contributions" data-slide-to="6" class="img-fluid img-circle"></li>

          </ol>
        </div>

        <div id="carousel-developments" class="carousel slide" data-ride="carousel" data-interval="0">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <blockquote class="blockquote">
                <img src="img/face1.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">cGood design at the front-end suggests that everything is in order at the back-end, whether or not that is the case.</p>
                <footer>My Profile</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="img/face2.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">It’s not about knowing all the gimmicks and photo tricks. If you haven’t got the eye, no program will give it to you.</p>
                <footer>David Carson</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="img/face3.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">There’s a point when you’re done simplifying. Otherwise, things get really complicated.</p>
                <footer>Frank Chimero</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="img/face4.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">Designing for clients that don’t appreciate the value of design is like buying new tires for a rental car.</p>
                <footer>Joel Fisher</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote">
                <img src="img/face5.jpg" height="80" width="80" alt="Avatar" class="img-circle">
                <p class="h3">Every picture owes more to other pictures painted before than it owes to nature.</p>
                <footer>E.H. Gombrich</footer>
              </blockquote>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li class="active"><img src="img/face1.jpg" alt="Navigation avatar" data-target="#carousel-developments" data-slide-to="0" class="img-fluid img-circle"></li>
            <li><img src="img/face2.jpg" alt="Navigation avatar" data-target="#carousel-developments" data-slide-to="1" class="img-fluid img-circle"></li>
            <li><img src="img/face3.jpg" alt="Navigation avatar" data-target="#carousel-developments" data-slide-to="2" class="img-fluid img-circle"></li>
            <li><img src="img/face4.jpg" alt="Navigation avatar" data-target="#carousel-developments" data-slide-to="3" class="img-fluid img-circle"></li>
            <li><img src="img/face5.jpg" alt="Navigation avatar" data-target="#carousel-developments" data-slide-to="4" class="img-fluid img-circle"></li>
          </ol>
        </div>

        <div id="control_portafolio">
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item nav-item-toggable">
              <a class="nav-link proyects btn-protect btn-proyect-outline" role="button"><span class="icon-spinner5"></span><small>my</small> PROYECTS<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav-item-toggable">
              <a class="nav-link contributions btn-protect btn-proyect-outline" role="button"><span class="icon-spinner5"></span><small>my</small> CONTRIBUTIONS</a>
            </li>
            <li class="nav-item nav-item-toggable">
              <a class="nav-link developments btn-protect btn-proyect-outline" role="button"><span class="icon-spinner5"></span><small>my</small> DEVELOPMENTS</a>

            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</section>