<!-- jQuery -->
<!--<script src="js/jquery.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<!--script src="js/bootstrap.min.js"></script>-->

<!-- Custom Theme JavaScript -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--<script src="js/landio.other.js"></script>
<script src="js/landio.min.js"></script>
<script src="js/individualdrupalnotes/individualdrupalnotesajax.js"></script>
<script src="js/contentdrupalnotes/contentdrupalnotesajax.js"></script>
<script src="js/contentdrupalnotes/contentdrupalnotespaginator.min.js"></script>
<script src="js/listcontentsdrupalnotes/listcontentsdrupalnotesajax.js"></script>
<script src="js/listcontentsdrupalnotes/listcontentsdrupalnotespaginator.min.js"></script>-->
<script src="js/prism.js"></script>
