<!-- Testimonials
    ================================================== -->

<section class="section-testimonials text-xs-center bg-inverse">
  <div class="container">
    <h3 class="sr-only">Testimonials</h3>

    <div id="carousel-proyects" class="carousel slide" data-ride="carousel" data-interval="0">
      <div class="carousel-inner" role="listbox">
      </div>
      <ol class="carousel-indicators">
      </ol>
    </div>

    <div id="carousel-contributions" class="carousel slide" data-ride="carousel" data-interval="0">
      <div class="carousel-inner" role="listbox">
      </div>
      <ol class="carousel-indicators">
      </ol>
    </div>
    
    <div id="control_portafolio">
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item nav-item-toggable">
          <a class="nav-link proyects btn-protect btn-proyect-outline" role="button"><span class="icon-spinner5"></span><small>my</small> PROYECTS<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav-item-toggable">
          <a class="nav-link contributions btn-protect btn-proyect-outline" role="button"><span class="icon-spinner5"></span><small>my</small> CONTRIBUTIONS</a>
        </li>
      </ul>
    </div>
  </div>
</section>