<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>

    {{ content }}
    {% include navigation.html %}
    {% include header.html %}
    {% include about.html %}
    {% include experence.html %}
    {% include education.html %}
    {% include skills.html %}
    {% include proyects.html %}
    {% include interests.html %}
    {% include contact.html %}
    {% include news.html %}
    {% include frontdrupalnotes.html %}
    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
